*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
ul {
    list-style:none;
}
#con{
    margin: 0 auto;
    width: 100%;
}
header{
    width: 100%;
    height: 200px;
    background-color: black;
}
h1{
    font-size: 50px;
    color: rgb(21, 0, 255);
    text-indent : 3em;

}
#logo {
    float: left;
    width: 250px;
    height:  100px;
}
nav{
    float: right;
    width: 900px;
    height: 100px;
    padding-top:40px;
}

#topMenu {
    height:60px;
}
#topMenu > li {
    float: left;
    position: relative;
}
#topMenu > li > a{
    display: block;
    color:#fff;
    font-weight:600;
    padding: 20px 60px;
    font-size: 20px;
}
#topMenu > li > a > span {
    font-size: 10px;
}
#topMenu > li > a:hover{
    color: rgb(21, 0, 255);
    text-shadow: 0 -1px white;
}
#topMenu > li> ul{
    display: none;
    position: absolute;
    width: 160px;
    left :20px;
    margin:0;
}
#topMenu > li > ul > li {
    padding: 10px 10px 10px 30px;
}
#topMenu > li > ul > li > a {
    background-color: black;
    font-size: 14px;
    padding: 10px;
    color : white;
    font-weight : bold;
}
#topMenu > li:hover > ul{
    display : block;
    z-index: 10;

}
#topMenu > li > ul > li > a:hover {
    color: white;
    background-color: rgb(21, 0, 255);
    font-weight:bold;
}

article{
    background-color: rgba(142, 200, 255, 0.658);
    text-align: center;
    color:black;

}
video{
    position:relative;
}
img{
    position:relative;
    width:500px;
    height:300px;
}
button{
    width:30px;
    height:30px;
    background-color: rgba(142, 200, 255, 0.658);
    color:rgb(21, 0, 255);
    font-size: 20px;
}
h2{
    font-size: 30px;
    color:rgb(21, 0, 255);
}
h3{
    font-size: 20px;

}

#info>p{
    font-size: 16px;
}

#quick{
    position:fixed;
    top:250px;
    left:50px;
    width:200px;
    height:400px;
    padding:10px;
    background:black;
    color:rgb(21, 0, 255);
    text-align: center;
    border-radius: 25%;
}
#quick>h2{
    font-size: 23px;
    font-weight : bold;
}
#quick>a{
    font-size: 15px;
    color:white;
    font-weight : bold;

}
#quick>a>img{
    width:100px;
    height:100px;
    border-radius: 50%;

}

#info>p{
    font-size: 16px;
}


#random{
    position:fixed;
    bottom:80px;
    right:50px;
    width:85px;
    height:85px;
    padding:10px;
    background:black;
    text-align: center;
    border-radius: 25%;
}
#random>a>p{
    font-size:15px;
    color:rgb(21, 0, 255);
}
#random:hover{
    transform:scale(1.3);

}