*{
    background-color: black;
}
h1{
    height:0px;
    text-indent : 10em;
    color: red;
}
p{
    color:white;
    text-indent : 24em;

}
div{
    transform: translate(300px, 0px);
    display: table-cell;
    vertical-align: middle;
    padding: 15px 80px;
}
#stop:hover{
    transform:scale(1.3);
    cursor:pointer;
}
